/**
 * Components: Discover description
 */

.section {

	&_discover {

		// Description

		&__description {
			position: relative;
			font-size: $font-size-lg;
			line-height: $line-height-sm;
			color: $headings-color;

			&:before {
				display: block;
				content: '';
				width: 30px;
				margin: 1rem 0;
				border-top: 3px solid $primary;
			}
		}
	}
}