/**
 * Components: Menu grid
 */

.section {
	
	&_menu {
	
		// Items

		&__item {
			padding: 1rem 0;
			border-bottom: 1px solid $gray;

			// Price

			&__price {
				@extend h4;
			}

			// Image

			&__img {
				position: relative;
				height: 0;
				padding-bottom: 100%;
				overflow: hidden;

				> img {
					position: absolute;
					top: 0; left: 0;
					max-height: 100%; width: auto;
					max-width: 1000px !important; height: 100% !important;
				}
			}

			// Typography

			p {
				margin-bottom: 0;
			}
		}
	}
}