/**
 * Components: Quote
 */

.section {
	
	&_quote {

		&__blockquote {
			margin-bottom: 0;

			// Icon

			&:before {
				content: 'â€';
				display: block;
				font-size: 10rem;
				line-height: 5rem;
				font-family: $headings-font-family;
				text-align: center;
				color: fade-out($headings-color, .9);
			}

			// Footer

			> footer {
				position: relative;
				margin-top: 2rem;
				padding-top: 2rem;

				&:before {
					content: '';
					position: absolute;
					top: 0; left: 50%;
					width: 50px;
					border-top: 2px solid theme-color('primary');
					transform: translateX(-50%);
				}
			}
		}
	}
}