// =========
// Variables
// =========

// Colors
// ======

// Brand colors

$primary: #f5a637;
$gray: #f0f0f0;


// Body
// ====

$body-color: #777777;


// Fonts
// =====

$font-family-sans-serif: 'Lato', sans-serif;
$font-family-base: $font-family-sans-serif;

$headings-font-family: 'Playfair Display', serif;
$headings-font-weight: 400;
$headings-line-height: 1.42857143;
$headings-color: #151515;

$font-size-lg: 1.25rem;
$font-size-sm: .85rem;

$line-height-base: 1.7;

$text-muted: #ababab;

$link-color: $primary;
$link-hover-color: $link-color;
// $link-hover-color: darken($link-color, 5%);


// Navbar
// ======

$navbar-height: 70px;

$navbar-light-bg: transparent;
$navbar-light-color: white;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-light-toggler-border-color: transparent;

$navbar-dark-bg: transparent;
$navbar-dark-color: $headings-color;
$navbar-dark-hover-color: $primary;
$navbar-dark-active-color: $primary;
$navbar-dark-toggler-border-color: transparent;


// Components
// ==========

$border-radius: 0;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;


// Paddings
// ========

$input-btn-padding-y: 1rem;
$input-btn-padding-x: 2rem;
$input-btn-line-height: 1.25;

$input-btn-padding-y-sm: .75rem;
$input-btn-padding-x-sm: 1.5rem;
$input-btn-line-height-sm: $input-btn-line-height;


// Buttons
// =======

$btn-border-radius: $border-radius;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-radius-lg: $btn-border-radius;

$btn-transition: color .1s;

$btn-primary-bg: transparent;
$btn-primary-border: $primary;


// Forms
// =====

$input-border-color: $gray;
$input-focus-border-color: $primary;
$input-box-shadow: none;
$input-color-placeholder: $body-color;

$input-border-radius: 0;
$input-border-radius-sm: $input-border-radius;
$input-border-radius-lg: $input-border-radius;


// Alerts
// ======

$alert-border-radius: $border-radius;
$alert-padding-y: 1.5rem;


// Tables
// ======

$table-border-color: $gray;