<nav class="navbar navbar-light navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand d-lg-none" href="index.html">Avanti</a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar navigation: Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="about-us.html">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="menu.html" id="nav-item__menu">
            Menu
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="special_events.html">Special Events</a>
        </li>
      </ul>

      <!-- Navbar: Brand -->
      <a class="navbar-brand d-none d-lg-flex" href="index.html">
        Avanti
      </a>

      <!-- Navbar navigation: Right -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="gallery.html">Some Photos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact-us.html">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
