/**
 * Components: Buttons
 */

.btn {
 	@include font-small();
 	line-height: $font-size-base * $input-btn-line-height;

 	&:hover, &:focus, &:active, &:active:hover, &:active:focus {
	 	outline: none;
	 	box-shadow: none !important;
	 	cursor: pointer;
 	}

	// Contextual classes

	&-default, &-primary {
		background-color: transparent;
		color: $headings-color;

		&[disabled] {
			background-color: transparent;
			opacity: .5;
			pointer-events: none;
		}
		
		&:hover, &:focus, &:active, &:active:hover, &:active:focus {
			background-color: transparent !important;
		 	border-color: $btn-primary-border;
		 	color: $primary;

		 	&[disabled] {
				background-color: transparent;
				opacity: .5;
				pointer-events: none;
		 	}
		}
	}
}