/**
 * Components: Contact form
 */

.section {

	&_contact {

		// Form

		&__form {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				bottom: 25%; right: 75%;
				width: 35%; height: 100%;
				background: url(../img/icon_dot.svg) repeat;
				z-index: -1;
				opacity: .05;
			}
		}
	}
}