/**
 * Components: Dishes carousel
 */

.section {
	
	&_dishes {

		// Carousel

		&__carousel {
			height: 250px;

			&__item {
				height: 100%;
				padding: 0 $spacer / 4;

				&__img {
					max-height: 100%; height: auto !important;
					max-width: none !important; width: auto;
				}
				&__body {
					position: absolute;
					left: $spacer / 4; right: $spacer / 4; bottom: 0;
					padding: 2rem 1rem 1rem;
					background: linear-gradient(to bottom, transparent, fade-out(black, .25));
					
					&__heading {
						max-width: calc(100vw - #{$spacer} * 2);
						display: flex;
						align-items: center;
						color: white;

						> span {
							margin-left: auto;
							font-size: 1.4em;
						}
					}
				}
			}
		}
	}
}