/**
 * Components: Dropdowns
 */

.dropdown {

	// Menu

	&-menu {
		padding-top: 0; padding-bottom: 0;
		border-color: transparent;

		@include media-breakpoint-up(md) {
			box-shadow: 0 2px 5px -1px fade-out(black,.85);

			// Nav items

			.nav-item {

				+ .nav-item {
					border-top: 1px solid $gray;
				}
			}
		}
	}
	&-item {
		padding: .5rem 1rem;
		@include font-small();
		font-size: $font-size-sm - .2rem;
		transition: color .1s;

		&.active, &:hover {
			background-color: transparent;
			color: theme-color('primary');
		}

		@include media-breakpoint-up(md) {
			padding: .8rem 1.2rem;
		}

		+ .dropdown-item {

			@include media-breakpoint-up(md) {
				border-top: 1px solid $gray;
			}
		}
	}
}