/**
 * Components: Fonts
 */

// Imort fonts
// ===========

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i|Playfair+Display:400,400i,700,700i');


// Headings
// ========

h1, h2, h3, h4, h5, h6 {
	margin-bottom: .8em;
}
h1 {
	font-size: 1.9375rem;
}
h2 {
	font-size: 1.75rem;
}
h3 {
	font-size: 1.5625rem;
}
h4 {
	font-size: 1.375rem;
}
h5 {
	font-size: 1.1875rem;
}
h6 {
	font-size: 1rem;
}


// Colors
// ======

.text {

	&-white {
		color: white;

		&.btn-default, &.btn-primary {
			
			&:hover, &:focus, &:active, &:active:hover, &:active:focus {
			 	color: $primary !important;   
			}
		}
	}
	&-heading {
		color: $headings-color;
	}
}


// Blockquote
// ==========

blockquote {
	font-size: $lead-font-size;

	// Content

	> p {
		position: relative;
		margin-bottom: 1em;
		font-family: $headings-font-family;
		color: $headings-color;
		
		&:before {
			content: open-quote;
		}
		&:after {
			content: close-quote;
		}
	}
	footer {
		@include font-small();
	}
}


// Lead text
// =========

.lead {
	color: $headings-color;
}


// Font small
// ==========

.font-small {
	@include font-small();
}


// Selection
// =========

::selection {
	background-color: $primary;
	color: white;
}