/** 
 * Components: Lightbox
 */

.lightboxOverlay {
	opacity: .5;
}
.lb-outerContainer,
.lightbox .lb-image {
	border-radius: 0;
}
.lb-container {
	padding: 20px;
}
.lb-data .lb-close {
	background: url(../img/icon_close.svg) no-repeat center center;
}
.lb-nav a.lb-prev {
	padding: 20px;
	background: none;

	&:before {
		content: url(../img/icon_prev.svg);
		position: absolute;
		top: 50%; left: 30px;
		transform: translateY(-50%);
	}
}
.lb-nav a.lb-next {
	padding: 20px;
	background: none;

	&:before {
		content: url(../img/icon_next.svg);
		position: absolute;
		top: 50%; right: 30px;
		transform: translateY(-50%);
	}
}