/**
 * Components: Phone number
 */

.section {
	
	&_phone {

		// Row

		&__row {

			> [class*="col"] {
				position: relative;
				
				&:before, &:after {
					content: '';
					position: absolute;
					width: 2rem; height: 2rem;
				}
				&:before {
					left: $spacer; bottom: 0;
					border-left: 1px solid $primary;
					border-bottom: 1px solid $primary;

					@include media-breakpoint-up(md) {
						left: 0;
					}
				}
				&:after {
					right: $spacer; top: 0;
					border-right: 1px solid $primary;
					border-top: 1px solid $primary;

					@include media-breakpoint-up(md) {
						right: 0;
					}
				}
			}
		}

		// Number

		&__number {
			font-size: 2.5rem;
			font-family: $headings-font-family;
			font-weight: bold;

			> a {
				color: $headings-color;

				&:hover, &:focus, &:active, &:active:hover, &:active:focus {
				 	text-decoration: none;   
				}
			}
		}	
	}
}