/**
 * Components: Testimonials carousel
 */

.section {

	&_testimonials {
		
		// Blockquote

		&__blockquote {
			position: relative;
			max-width: 500px;
			margin-bottom: 2rem;

			@include media-breakpoint-up(md) {
				margin-bottom: 0;
			}
		}

		// Image

		&__photo {

			> img {
				max-width: 50vw;
				margin-bottom: 2rem;
				border-radius: 50% !important;

				@include media-breakpoint-up(md) {
					max-width: 100%;
					margin-bottom: 0;
				}
			}
		}

		// Carousel

		&__carousel {

			&__item {
				width: 100%;
			}
		}
	}
}