//
// user.scss
// Use this to write your custom SCSS
//

a {
  text-decoration: none;
}

footer {
  color: $gray-500;
}

footer a {
  color: $gray-500;
  &:hover {
    color: $gray-500;
    text-decoration: underline;
  }
}

.opacity-100-hover:hover {
  opacity: 100 !important;
}
